SECRET_KEY=replace-with-a-strong-secret-key
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=https://127.0.0.1,http://127.0.0.1,https://*.vercel.app
BASE_URL=http://127.0.0.1:8000
SECURE_SSL_REDIRECT=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=True

# SSLCommerz configuration
SSL_COMMERZ_STORE_ID=your-store-id
SSL_COMMERZ_STORE_PASSWORD=your-store-password
SSL_COMMERZ_SANDBOX_MODE=True
